n8n-workflows/user-registration-email.json
{
    "name": "User Registration Email",
    "nodes": [
        {
            "parameters": {
                "queue": "auth-user-events-queue",
                "options": {
                    "durable": true,
                    "arguments": {
                        "x-message-ttl": 86400000
                    }
                }
            },
            "name": "RabbitMQ Trigger",
            "type": "n8n-nodes-base.rabbitmqTrigger",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "credentials": {
                "rabbitmq": {
                    "id": "1",
                    "name": "RabbitMQ Sentinel"
                }
            }
        },
        {
            "parameters": {
                "functionCode": "// Extraer datos del evento de registro\nconst event = items[0].json;\n\nreturn [\n  {\n    json: {\n      email: event.email,\n      username: event.username || event.email.split('@')[0],\n      userId: event.userId,\n      verificationToken: event.verificationToken,\n      timestamp: event.timestamp || new Date().toISOString()\n    }\n  }\n];"
            },
            "name": "Extract User Data",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "fromEmail": "noreply@sentinel.crudzaso.com",
                "toEmail": "={{$json.email}}",
                "subject": "¡Bienvenido a Sentinel! 🎉",
                "emailType": "html",
                "message": "<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: linear-gradient(135deg, #ec4899 0%, #8b5cf6 100%); color: white; padding: 30px; text-align: center; border-radius: 10px 10px 0 0; }\n    .content { background: #f9fafb; padding: 30px; border-radius: 0 0 10px 10px; }\n    .button { display: inline-block; padding: 12px 30px; background: #ec4899; color: white; text-decoration: none; border-radius: 5px; margin: 20px 0; }\n    .footer { text-align: center; margin-top: 20px; color: #666; font-size: 12px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>🛡️ Sentinel Security</h1>\n    </div>\n    <div class=\"content\">\n      <h2>¡Hola {{$json.username}}!</h2>\n      <p>Gracias por registrarte en <strong>Sentinel</strong>, tu plataforma de seguridad de código de nueva generación.</p>\n      \n      <p>Para comenzar a usar tu cuenta, por favor verifica tu correo electrónico:</p>\n      \n      <a href=\"https://sentinel.crudzaso.com/auth/verify?token={{$json.verificationToken}}\" class=\"button\">\n        Verificar Email\n      </a>\n      \n      <p><strong>¿Qué puedes hacer con Sentinel?</strong></p>\n      <ul>\n        <li>🔍 Escanear tu código en busca de vulnerabilidades</li>\n        <li>📊 Analizar la calidad de tu código</li>\n        <li>🚀 Integrar con tu flujo de trabajo CI/CD</li>\n        <li>👥 Colaborar con tu equipo</li>\n      </ul>\n      \n      <p>Si no solicitaste esta cuenta, puedes ignorar este email.</p>\n    </div>\n    <div class=\"footer\">\n      <p>© 2025 Sentinel Security. Todos los derechos reservados.</p>\n      <p>Este es un email automático, por favor no respondas.</p>\n    </div>\n  </div>\n</body>\n</html>"
            },
            "name": "Send Welcome Email",
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 2,
            "position": [
                650,
                300
            ],
            "credentials": {
                "smtp": {
                    "id": "2",
                    "name": "SMTP Sentinel"
                }
            }
        },
        {
            "parameters": {
                "functionCode": "// Log del resultado\nconst success = items[0].json;\n\nconsole.log('✅ Email enviado a:', success.email);\nconsole.log('📧 Usuario:', success.username);\nconsole.log('🕐 Timestamp:', success.timestamp);\n\nreturn items;"
            },
            "name": "Log Success",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                850,
                300
            ]
        }
    ],
    "connections": {
        "RabbitMQ Trigger": {
            "main": [
                [
                    {
                        "node": "Extract User Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract User Data": {
            "main": [
                [
                    {
                        "node": "Send Welcome Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Welcome Email": {
            "main": [
                [
                    {
                        "node": "Log Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {},
    "versionId": "1",
    "id": "1",
    "meta": {
        "instanceId": "sentinel-n8n"
    },
    "tags": []
}